{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/" class="link-back">back</a>
      <h1 class="heading-xlarge">
        Nino search
      </h1>

      <form action="" method="POST">
      <div class="form-group{% if error %} error{% endif %}">
        {% if error %}
          <p class="error-message">Please enter a nino</p>
        {% endif %}
        <input class="form-control" type="search" name="nino" />
      </div>
        <button class="button">Search</button>
      </form>

    </div>
  </div>
</main>

{% endblock %}
