{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/" class="link-back">back</a>
      <h1 class="heading-xlarge">
        Update {{name}}'s age
      </h1>

      <div class="form-group">
        <form action="" method="POST">
        <div class="form-group">
            <label class="form-label">
                Age
                <input class="form-control" type="text" name="age" value="{{age}}" />
            </label>
          </div>
          <div class="form-group">
            <button class="button">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}
