
.gem-c-task-list {
    margin-bottom: 15px
}

.gem-c-task-list__controls {
    padding: 3px 3px 0 0;
    text-align: right
}

.gem-c-task-list__button {
    color: #005ea5;
    cursor: pointer;
    background: none;
    border: 0;
    margin: 0
}

.gem-c-task-list__button::-moz-focus-inner {
    border: 0
}

.gem-c-task-list__button--title {
    font-family: "nta", Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 19px;
    line-height: 1.4;
    display: inline-block;
    padding: 0;
    text-align: left;
    color: #0b0c0c
}

@media (min-width: 641px) {
    .gem-c-task-list__button--title {
        font-size: 19px;
        line-height: 1.4
    }
}

.gem-c-task-list--large .gem-c-task-list__button--title {
    font-family: "nta", Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 19px;
    line-height: 1.4
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__button--title {
        font-size: 24px;
        line-height: 1.4
    }
}

.gem-c-task-list__button--controls {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1;
    position: relative;
    z-index: 1;
    padding: 0.5em 0
}

@media (min-width: 641px) {
    .gem-c-task-list__button--controls {
        font-size: 14px;
        line-height: 1
    }
}

.gem-c-task-list--large .gem-c-task-list__button--controls {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__button--controls {
        font-size: 16px;
        line-height: 1
    }
}

.gem-c-task-list__groups {
    padding: 0;
    margin: 0
}

.gem-c-task-list__group {
    position: relative;
    padding-left: 45px;
    list-style: none
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__group {
        padding-left: 60px
    }
}

.gem-c-task-list__group:last-child:before {
    content: "";
    position: absolute;
    z-index: 6;
    bottom: 0;
    left: 0;
    margin-left: 6.5px;
    width: 13px;
    height: 0;
    border-bottom: solid 2px #bfc1c3
}

.gem-c-task-list__group:last-child .gem-c-task-list__step:last-child:after {
    height: -webkit-calc(100% - 15px);
    height: calc(100% - 15px)
}

.gem-c-task-list__group:last-child .gem-c-task-list__step:last-child .gem-c-task-list__help:after {
    height: 100%
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__group:last-child:before {
        margin-left: 8.75px;
        width: 17.5px;
        border-width: 3px
    }
    .gem-c-task-list--large .gem-c-task-list__group:last-child .gem-c-task-list__step:last-child:after {
        height: calc(100% - 30px)
    }
}

.gem-c-task-list__group--active:last-child:before,
.gem-c-task-list__group--active .gem-c-task-list__circle--number,
.gem-c-task-list__group--active .gem-c-task-list__step:after,
.gem-c-task-list__group--active .gem-c-task-list__substep:after,
.gem-c-task-list__group--active .gem-c-task-list__help:after {
    border-color: #0b0c0c
}

.gem-c-task-list__step {
    position: relative
}

.gem-c-task-list__step:after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 100%;
    border-left: solid 2px #bfc1c3;
    background: #fff;
    left: -45px;
    margin-left: 12px;
    top: 15px
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__step:after {
        left: -60px;
        margin-left: 16px;
        border-width: 3px;
        top: 30px
    }
}

.gem-c-task-list__step--optional:after {
    border-left-style: dotted
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__step--optional:after {
        border-width: 3px
    }
}

.gem-c-task-list__circle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    top: 15px;
    width: 26px;
    height: 26px;
    color: #0b0c0c;
    background: #fff;
    border-radius: 100px;
    text-align: center
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__circle {
        top: 30px;
        width: 35px;
        height: 35px
    }
}

.gem-c-task-list__circle--number {
    font-family: "nta", Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 16px;
    line-height: 23px;
    left: 0;
    border: solid 2px #bfc1c3
}

@media (min-width: 641px) {
    .gem-c-task-list__circle--number {
        font-size: 16px;
        line-height: 23px
    }
}

.gem-c-task-list--large .gem-c-task-list__circle--number {
    font-family: "nta", Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 16px;
    line-height: 23px
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__circle--number {
        font-size: 19px;
        line-height: 30px
    }
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__circle--number {
        border-width: 3px
    }
}

.gem-c-task-list__circle--logic {
    font-family: "nta", Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 16px;
    line-height: 28px;
    left: -45px
}

@media (min-width: 641px) {
    .gem-c-task-list__circle--logic {
        font-size: 16px;
        line-height: 28px
    }
}

.gem-c-task-list--large .gem-c-task-list__circle--logic {
    font-family: "nta", Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 16px;
    line-height: 28px
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__circle--logic {
        font-size: 19px;
        line-height: 34px
    }
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__circle--logic {
        left: -60px
    }
}

.gem-c-task-list__circle-inner {
    float: right;
    min-width: 100%
}

.gem-c-task-list__circle-background {
    text-shadow: 0 -0.1em 0 #fff, 0.1em 0 0 #fff, 0 0.1em 0 #fff, -0.1em 0 0 #fff
}

.gem-c-task-list__header {
    padding: 15px 0;
    border-top: solid 2px #dee0e2
}

.gem-c-task-list--active .gem-c-task-list__header {
    cursor: pointer
}

.gem-c-task-list__header:hover .gem-c-task-list__button {
    color: #005ea5
}

.gem-c-task-list__header:hover .gem-c-task-list__toggle-link {
    text-decoration: underline
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__header {
        padding: 30px 0
    }
}

.gem-c-task-list__title {
    font-family: "nta", Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 19px;
    line-height: 1.4;
    margin: 0
}

@media (min-width: 641px) {
    .gem-c-task-list__title {
        font-size: 19px;
        line-height: 1.4
    }
}

.gem-c-task-list--large .gem-c-task-list__title {
    font-family: "nta", Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 19px;
    line-height: 1.4
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__title {
        font-size: 24px;
        line-height: 1.4
    }
}

.gem-c-task-list__toggle-link {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.2;
    display: block;
    color: #005ea5
}

@media (min-width: 641px) {
    .gem-c-task-list__toggle-link {
        font-size: 14px;
        line-height: 1.2
    }
}

.gem-c-task-list--large .gem-c-task-list__toggle-link {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.2
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__toggle-link {
        font-size: 16px;
        line-height: 1.2
    }
}

.gem-c-task-list__panel {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25
}

@media (min-width: 641px) {
    .gem-c-task-list__panel {
        font-size: 16px;
        line-height: 1.31579
    }
}

.gem-c-task-list--large .gem-c-task-list__panel {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__panel {
        font-size: 19px;
        line-height: 1.31579
    }
}

.gem-c-task-list__paragraph,
.gem-c-task-list__heading {
    padding-bottom: 15px;
    margin: 0;
    font-size: inherit
}

.gem-c-task-list__paragraph+.gem-c-task-list__links,
.gem-c-task-list__heading+.gem-c-task-list__links {
    margin-top: -5px
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__paragraph+.gem-c-task-list__links,
    .gem-c-task-list--large .gem-c-task-list__heading+.gem-c-task-list__links {
        margin-top: -15px
    }
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__paragraph,
    .gem-c-task-list--large .gem-c-task-list__heading {
        padding-bottom: 30px
    }
}

.gem-c-task-list__heading {
    font-weight: bold
}

.gem-c-task-list__links {
    padding: 0;
    padding-bottom: 10px
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__links {
        padding-bottom: 20px
    }
}

.gem-c-task-list__links--required .gem-c-task-list__link-item {
    font-weight: bold
}

.gem-c-task-list__links--choice {
    margin-left: 20px;
    list-style: disc
}

.gem-c-task-list__links--choice .gem-c-task-list__link-item--active:before {
    left: -65px
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__links--choice .gem-c-task-list__link-item--active:before {
        left: -80px
    }
}

.gem-c-task-list__link {
    margin-bottom: 10px
}

.gem-c-task-list__link-item {
    text-decoration: none
}

.gem-c-task-list__link-item:hover {
    text-decoration: underline
}

.gem-c-task-list__link-item--active {
    position: relative;
    color: #0b0c0c
}

.gem-c-task-list__link-item--active:visited,
.gem-c-task-list__link-item--active:active,
.gem-c-task-list__link-item--active:link {
    color: #0b0c0c
}

.gem-c-task-list__link-item--active:focus {
    outline: 0
}

.gem-c-task-list__link-item--active:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    position: absolute;
    z-index: 5;
    top: 0.6em;
    left: -45px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background: #0b0c0c;
    border: solid 2px #fff;
    border-radius: 100px
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__link-item--active:before {
        left: -60px;
        margin-left: 9.5px
    }
}

.gem-c-task-list__context {
    font-weight: normal;
    color: #6f777b
}

.gem-c-task-list__context:before {
    content: " \2013  "
}

.gem-c-task-list__help {
    position: relative;
    padding: 15px 0;
    border-top: solid 2px #dee0e2
}

.gem-c-task-list__help:after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 100%;
    border-left: dotted 2px #bfc1c3;
    background: #fff;
    left: -45px;
    margin-left: 12px;
    z-index: 3;
    top: 0;
    height: calc(100% + 30px)
}

.gem-c-task-list__step--optional .gem-c-task-list__help:after {
    display: none
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__help:after {
        left: -60px;
        margin-left: 16px;
        border-width: 3px;
        height: calc(100% + 30px + 15px)
    }
}

.gem-c-task-list__help-link {
    text-decoration: none;
    font-weight: bold
}

.gem-c-task-list__help-link:hover {
    text-decoration: underline
}

.gem-c-task-list__substep {
    position: relative;
    padding-top: 15px;
    border-top: solid 2px #dee0e2
}

.gem-c-task-list__substep:after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 100%;
    border-left: solid 2px #bfc1c3;
    background: #fff;
    left: -45px;
    margin-left: 12px;
    z-index: 3;
    top: 0
}

@media (min-width: 641px) {
    .gem-c-task-list--large .gem-c-task-list__substep {
        padding-top: 30px
    }
    .gem-c-task-list--large .gem-c-task-list__substep:after {
        left: -60px;
        margin-left: 16px;
        border-width: 3px
    }
}

.gem-c-task-list__substep--optional:after {
    border-left-style: dotted
}

.gem-c-task-list-header {
    position: relative;
    padding: 10px;
    background: #f8f8f8;
    border-top: solid 1px #bfc1c3;
    border-bottom: solid 1px #bfc1c3
}

@media (min-width: 641px) {
    .gem-c-task-list-header {
        padding: 15px
    }
}

.gem-c-task-list-header__part-of {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    display: block;
    padding-bottom: 0.2em
}

@media (min-width: 641px) {
    .gem-c-task-list-header__part-of {
        font-size: 16px;
        line-height: 1.25
    }
}

.gem-c-task-list-header__title {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2
}

@media (min-width: 641px) {
    .gem-c-task-list-header__title {
        font-size: 24px;
        line-height: 1.25
    }
}

.gem-c-task-list-header__skip-link {
    position: absolute;
    top: 0;
    right: 9999em
}

.gem-c-task-list-header__skip-link:focus {
    right: 0
}

.pub-c-task-list-related {
    margin-bottom: 15px
}

.pub-c-task-list-related__heading,
.pub-c-task-list-related__links {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
    padding: 0
}

@media (min-width: 641px) {
    .pub-c-task-list-related__heading,
    .pub-c-task-list-related__links {
        font-size: 19px;
        line-height: 1.31579
    }
}

.pub-c-task-list-related__pretitle {
    display: block;
    margin-bottom: 15px
}

@media (min-width: 641px) {
    .pub-c-task-list-related__pretitle {
        margin-bottom: 5px
    }
}

.pub-c-task-list-related__links {
    list-style: none
}

.pub-c-task-list-related__link-item {
    margin-top: 15px
}

@media (min-width: 641px) {
    .pub-c-task-list-related__link-item {
        margin-top: 5px
    }
}

.pub-c-task-list-related__link {
    text-decoration: none
}

.pub-c-task-list-related__link:hover {
    text-decoration: underline
}

.visually-hidden, .visuallyhidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media (min-width: 641px) {
    .task-list-sidebar {
        margin-top: 180px;
    }
}

.task-list-sidebar {
    margin-top: 30px;
}