{% extends "layout.html" %}
{% import '../../macro/example.njk' as macro %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {{ macro.backLink('/example/what-is-your-name', 'Back to what is your name') }}
      <h1 class="heading-xlarge">
      Tell us your email?
      </h1>

      <form method="post" action="/example/what-is-your-email">

        <div class="form-group">
          <label for="data" class="form-label-bold">Email</label>
          <input type="text" name="email" class="form-control" value="{{ email }}" />
        </div>
        <button class="button">Submit</button>

      </form>


    </div>
  </div>
</main>

{% endblock %}
