{% extends "layout.html" %}
{% import '../../macro/example.njk' as macro %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {{ macro.backLink('/example/start') }}
      <h1 class="heading-xlarge">
      Tell us about you?
      </h1>

      <form method="post" action="/example/what-is-your-name">

        <div class="form-group{% if error.name %} error{% endif %}">
          <label for="data" class="form-label-bold">Name</label>
          {% if error.name %}<span class="error-message">{{ error.name }}</span> {% endif %}
          <input type="text" name="name" class="form-control" value="{{ name }}" />
        </div>
        <button class="button">Submit</button>

      </form>


    </div>
  </div>
</main>

{% endblock %}
