{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/" class="link-back">back</a>
      <h1 class="heading-xlarge">
        Macro Example
      </h1>

      <p>Macros are small chunks of code that can be called in nunjuck templates</p>

      <p>You can see an example of this in the '/app/views/examples/example/name.njk'</p>

      <p>This is an example of a back link function which can be viewed at '/app/views/macro/example.njk' with notes.</p>

			</ul>
    </div>
  </div>
</main>

{% endblock %}
