{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/" class="link-back">back</a>
      <h1 class="heading-xlarge">
      GET/POST routing
      </h1>
      <p>This is a {{ type }} request.</p>

      {% if name %}
        <p> name has value of <strong> {{ name }}</p>
      {% endif %}

      <form method="post" action="{{ url }}">

        <div class="form-group">
          <label for="data" class="form-label-bold">Name</label>
          <input type="text" name="name" class="form-control" value="{{ name }}" />
        </div>
        <button class="button">Update</button>

      </form>


    </div>
  </div>
</main>

{% endblock %}
