{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/" class="link-back">back</a>
      <h1 class="heading-xlarge">
      Query magic
      </h1>

      {% for key, value in data %}
       <p>{{ key }} : {{ value }}</p>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock %}
