{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Prototype kit examples
      </h1>

      <h2 class="heading-medium"> Routing </h2>

      <ul class="list list-bullet">
				<li>
          <a href="/routing/params-single/a">Paramter routing</a>
        </li>
        <li>
          <a href="/routing/query-example?welcome=hello&amp;user=user1">Query</a>
        </li>
        <li>
          <a href="/routing/query-example-magic?one=hello&amp;two=user1&amp;three=gooodbye">Query magic</a>
        </li>
        <li>
          <a href="/routing/get-to-post">Get/Post routing</a>
        </li>
        <li>
          <a href="/routing/all">All routing</a>
        </li>
      </ul>

      <h2 class="heading-medium"> Sessions </h2>


			<ul class="list list-bullet">
        <li>
          <a href="/session/get-to-post">Session storing</a>
				</li>
        <li>
          <a href="/session/details">Pre loaded session</a>
        </li>
        <li>
          <a href="/session/details-advanced">Pre loaded Advacned session</a>
        </li>
				<li>
          <a href="/utils/session">Session details</a>
				</li>
        <li>
          <a href="/auto-session/starter">Auto-Session Details</a>
        </li>
        <li>
          <a href="/prototype-admin/clear-data">Clear session data</a>
        </li>
			</ul>


      <h2 class="heading-medium"> Patterns </h2>

      <ul class="list list-bullet">
				<li>
          <a href="/patterns/add-to-a-list">Add to a list</a>
        </li>
				<li>
          <a href="/patterns/add-to-a-list-no-js">Add to a list no-js</a>
        </li>
      </ul>


      <h2 class="heading-medium"> Components </h2>

      <ul class="list list-bullet">
				<li>
          <a href="/components/de-note">Denote</a>
        </li>
      </ul>



      <h2 class="heading-medium">Macro</h2>
      <ul class="list list-bullet">
        <li>
          <a href="/tutorials/macro.html">Macro Introduction</a>
				</li>
          <li>
          <a href="/tutorials/input">Input Macro</a>
				</li>
      </ul>

      <h2 class="heading-medium"> Examples </h2>
      <ul class="list list-bullet">
        <li>
          <a href="/includes">Includes</a>
				</li>
        <li>
          <a href="/example/start">Full review example</a>
				</li>
        <li>
          <a href="/tutorials/vars.html">ENV vars</a>
				</li>
        <li>
          <a href="/tutorials/login">Using ENV vars part 1</a>
				</li>
        <li>
          <a href="/tutorials/login">Using ENV vars part 2</a>
				</li>
			</ul>

      <h2 class="heading-medium"> Your examples </h2>
      <ul class="list list-bullet">
        <li>
          <a href="/leeds/index">Leeds</a>
				</li>
			</ul>
    </div>
  </div>
</main>

{% endblock %}
